*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-1{
   display: flex; 
   justify-content: space-between;
   width: 1350px;
}
.logo{
    width: 70px;
    display: flex;
    justify-content: flex-start;

}

.right-info{
    display: flex;
    font-size: 25px;
    color: #E5E7EB;
    gap: 25px;
    align-items: center;
}

.first-block{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.first-text{
    font-size: 24px;
    color: #F9FAF8;
    width:500px
}
.sign{
    font-size: 30px;
    color: white;
    background-color: #3882f6;
    text-align: center;
    border-radius: 12px;
    padding: 10px;
}

.pizza{
    width: 300px;
}

.second-block{
padding-top: 15px;
padding-bottom: 30px;
}

h2{
    text-align: center;
    font-size: 36px;
    font-weight: 800px ;
}
.photo{
    width: 135px;
}


.photos{
    display: flex;
    justify-content: center;
    gap: 250px;
}

.text{
font-size: 15px;
text-align: center;
}   

.im{
    max-width: 150px;
}

.third-block{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.quote{
    font-size: 36px;
    font-family: light italic;
    color: #1F2937;
    width: 700px;
    text-align: justify;
}
.author{
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
}

.fourth-block{
    padding: 80px;
    display: flex;
    justify-content: center;
    gap:30px
}

.footer{
    text-align: center;
}